@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>

<h3><a asp-controller="Categories" asp-action="Index">Categories</a></h3>
<h3><a asp-controller="Products" asp-action="Index">Products</a></h3>
<h3><a asp-controller="Orders" asp-action="Index">Orders</a></h3>